@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Varela+Round&display=swap');
@import url(./reset.css);

:root {
    --preto: #030303;
    --preto-grad: linear-gradient(to right top, #000000, #050505, #090909, #0d0d0d, #111111);
    --branco: #FFFFFF;
    --fonte-principal: "Varela Round";
    --fonte-secundaria: "Caveat";
    --vd-musgo: #2E3600;
    --vm: #990100;
    --lj: #f4a460;
    --cz-bg: #E8E8E8;
    --cz-fonte: #a7a7a7;
    --vd: #12dd00;



}

body {
    color: var(--branco);
    font-size: 18px;
    font-family: var(--fonte-principal);
    background-color: var(--cz-bg);
}

.logo-icon {
    width: 60px;
    height: 60px;
}

.logo-name {
    font-family: var(--fonte-secundaria);
    font-size: 36px;
}



.cabecalho {
    position: fixed;
    top: 1;
    left: 0;
    z-index: 1;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: var(--preto-grad);
    padding: 0.5em 0;
    text-align: center;
    border-bottom: 1px solid #f4a460;

}

.av-frete {
    background-color: sandybrown;
    text-align: center;
    padding: 0.5em 0;
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-lista {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 35px;

}

.navbar-link {
    display: flex;
    align-items: center;
    color: var(--branco);
}

.navbar-icon {
    width: 30px;
    height: 30px;
}

.banner {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('assets/pizza-bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;


}

.container-banner {
    display: flex;
    flex-direction: column;
}

.banner-infos {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 0 10em;

}

.banner img {
    max-width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.banner-titulo {
    font-size: 3rem;
    color: #fff;
    z-index: 2;
}

.span-titulo {
    font-family: var(--fonte-principal);
    font-size: 42px;

}

.banner-texto {
    margin: 1em 0 2em 0;
    width: 80%;
}

.span-subtitulo {
    font-size: 28px;
}

.info-link-btn {
    background-color: var(--lj);
    width: 20%;
    text-align: center;
    padding: 0.8em;
    border-radius: 10px;
    font-weight: 500;
    color: var(--vm);

}

.titulo-verde {
    font-family: var(--fonte-secundaria);
    font-weight: 700;
    color: var(--lj);
    font-size: 72px;

}

.titulo-vermelho {
    font-family: var(--fonte-secundaria);
    font-weight: 700;
    color: var(--vm);
    font-size: 72px;


}

.destaque-titulo {
    font-size: 32px;
    text-align: center;
    background: var(--preto);
    padding: 1em;
    text-align: center;
    clip-path: polygon(0 0, 100% 0, 100% 70%, 50% 100%, 0 70%);


}

.container-card {
    display: flex;
    justify-content: space-evenly;

    margin: 6em;

}

.card {

    width: 250px;
    background-color: var(--branco);
    padding: .4em;
    border-radius: 10px;
    color: var(--preto);
    box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 8px;
}

.card:hover {
    transform: scale(1.1);
}

.card-infos {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.card-img {
    background-color: #000000;
    width: 100%;
    height: 200px;
    border-radius: 6px 6px 0 0;
    object-fit: cover;
}

.card-categoria {
    text-transform: uppercase;
    font-size: 14px;
    color: var(--vm);
    font-weight: 600;
    margin: 0.5em 0;
}

.card-titulo {

    font-size: 16px;
    color: var(--preto);
    font-weight: 600;
}

.card-descricao {
    font-size: 12px;
    color: var(--cz-fonte);
    font-weight: 600;
    margin: 0.5em 0;
}

.card-btn {
    color: var(--branco);
    background-color: var(--preto);
    border-radius: 25px;
    border: 1px solid var(--preto);
    padding: 1em;
    align-self: center;
    width: 80%;
    margin: .8em;
}

.card-btn:hover {
    border: 2px solid var(--vm);
}

.container-carrinho {
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    width: 310px;
    height: 100%;
    background: var(--cz-bg);
}
.container-card-carrinho {
    max-height: 350px; /* Definir a altura máxima (aproximadamente 3 itens visíveis) */
    overflow-y: auto; /* Rolagem vertical quando o conteúdo exceder 3 itens */
    border: 1px solid #ccc; /* Apenas para visualização */

}
.container-carrinho-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    background-color: var(--preto);
    font-size: 14px;
}

.card-info-carrinho {

    display: flex;
    flex-direction: column;
    margin: 10px 0;
    color: var(--preto);
    background-color: var(--branco);
    margin: 0.5em;
    border-radius: 7px;
}

.card-infos-carrinho {
    display: flex;

}

.card-img-carrinho {
    margin: 1em;
    width: 60px;
    height: 60px;
    object-fit: cover;

}

.carrinho-preco {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 1em;
    border-top: 1px solid var(--vm);
}

.card-titulo-carrinho {
    font-size: 14px;
    margin: 1.2em 0 0.3em 0;   
}
.card-descricao-carrinho {
    font-size: 14px;
}


.c-inp {
    width: 30px;
}

.car-qtd {
    display: flex;
    align-items: center;
}

.btn-carrinho {
    border: none;
    background-color: transparent;
    font-size: 1.5rem;
}

.btn-fechar {
    border: none;
    background-color: transparent;
    font-size: 1.2rem;
    color: var(--branco);
}

.btn-fechar:hover {
    color: var(--vm)
}


.carrinho-fechar-pedido {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.botao-fechar-pedido {
    width: 100%;
    font-size: 28px;
    padding: .5em;
    background-color: var(--preto);
    border: 1px solid var(--preto);
    color: var(--lj);
}

.botao-continuar-comp {
    font-size: 14px;
    margin: .5em;
    color: var(--vm);
}
 